{% extends "index_base.html" %}
{% if current_user.is_authenticated %}

{% endif %}
{% block forms %}
<div class="thumbnail"><img src="{{ url_for('static', filename='media/login/user.png') }}" /></div>
<form class="register-form" name="register_form" method=post>
    {{ register_form.username }}
    {{ register_form.email }}
    {{ register_form.password }}
    {{ register_form.confirm }}
  <input type="button" value="Sign Up" id="submit_register"/>
  <p class="message">Already registered? <span>Sign In</span></p>
</form>
<form class="login-form" name="login_form" method=post>
      {{ login_form.username }}
      {{ login_form.password }}
  <input type="button" value="Log In" id="submit_login"/>
  <p class="message">Not registered? <span>Create an account</span></p>
</form>
{% endblock %}
{% block info %}
    <div>
        <i class="pe-7s-check" style="color:#4BB543;"></i>
        <p style="color: #4BB543;">Registration successful.</p>
        <p id="info-paragraph">The administrator has been notified so you can access to home dashboard.</p>
        <footer style="color:#969696">It may take a while. Please wait for an confirmation email.</footer>
        <input type="button" value="Return to Home" id="btn_return"/>
    </div>
{% endblock %}
{% block wait %}
    <div>
        <i class="pe-7s-hourglass" ></i>
        <p>Please wait for the authorization.</p>
        <p id="info-paragraph">The administrator has been notified so you can access to home dashboard.</p>
        <footer style="color:#969696">It may take a while. You will get notified by email.</footer>
        <input type="button" value="Return to Home" id="btn_home"/>
    </div>
{% endblock %}